version: '3.8'

services:
  data-backend:
    env_file: ".env"
    build:
      context: ./data_server
    container_name: fastapi-dataserver
    expose:
      - "8000"
    restart: always  
  pmtiles:
    env_file: ".env"
    image: ghcr.io/protomaps/go-pmtiles:main
    container_name: pmtiles-server
    command: serve . --bucket=${TILES_S3_URL} --port=8081 --cors="*"
    expose:
      - "8081"
  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: nginx-proxy
    ports:
      - "${PORT}:8080"
    depends_on:
      - data-backend
    restart: always